.input-display {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  .reps {
    width: 40%;
    text-align: center;
  }

  .display {
  }

  .sets {
    width: 40%;
    text-align: center;
  }

  .set-number, .text, .spacer {
    flex: 1;
    text-align: center;
  }
}

.buttons {
  height: 40px;
  display: flex;
  justify-content: center;
  gap: 32px
}

.add-set-button {
  margin-top: 40px;
}


