ion-avatar {
  width: 120px;
  height: 120px;
}

.username {
  font-size: 20px;
  font-weight: bold;
}

.time-column {
  display: flex;
  flex-direction: column;
}

.avatar-column {
  display: flex;
  justify-content: center;
}

.result-text {
  font-size: 16px;
  color: var(--ion-color-medium-tint);
  font-weight: bold;
}


ion-item {
  --min-height: 0;
  --background: inherit;

  .item-description-text{
    font-size: 14px;
    color: var(--ion-color-medium-shade);

    &.failed {
      text-decoration: line-through;
      color: var(--ion-color-danger)
    }
  }
}

.button-text {
  font-weight: bold;
}

ion-card-title {
  font-size: 20px;
  color: var(--ion-color-medium-tint);
}
