<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard/tabs/records"></ion-back-button>
    </ion-buttons>
    <ion-title>New Entry</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-padding">
    <app-page-zero class="entry-page" *ngIf="newRecordService.selection.level === 0"></app-page-zero>
    <app-page-one-lift
      *ngIf="newRecordService.selection.level === 1 && newRecordService.selection.logType === 'lift'"></app-page-one-lift>
    <app-page-two-lift
      *ngIf="newRecordService.selection.level === 2 && newRecordService.selection.logType === 'lift'"></app-page-two-lift>
    <app-page-three-lift
      *ngIf="newRecordService.selection.level === 3 && newRecordService.selection.logType === 'lift'"></app-page-three-lift>
    <app-page-one-wod
      *ngIf="newRecordService.selection.level === 1 && newRecordService.selection.logType === 'wod'"></app-page-one-wod>
    <app-page-two-wod
      *ngIf="newRecordService.selection.level === 2 && newRecordService.selection.logType === 'wod'"></app-page-two-wod>

    <div class="routing-button-container routing-button-container-absolute"
         [ngClass]="newRecordService.selection.variableSets.length >= 3? 'routing-button-flow': ''">
     <ion-button
       *ngIf="newRecordService.selection.level > 0"
       color="primary"
       class="routing-button"
       expand="block"
       (click)="newRecordService.handleBackwardLogRouting()">
       Back
     </ion-button>
    <ion-button
      color="primary"
      (click)="newRecordService.handleForwardLogRouting()"
      class="routing-button"
      [disabled]="
      !newRecordService.selection.logType ||
      (newRecordService.selection.logType === 'lift' && newRecordService.selection.level === 1 && !newRecordService.selection.selectedExercise) ||
      (newRecordService.selection.logType === 'wod' && newRecordService.selection.level === 1 && newRecordService.selection.benchmarkWod === null)"
    >
       {{(newRecordService.selection.logType === 'lift' && newRecordService.selection.level === 3)? 'Log': 'Next'}}
     </ion-button>
  </div>
  </ion-grid>
</ion-content>
