ion-grid {
  height: 100%;

  .entry-page {
    height: 100%;
  }
}

.routing-button-container {
  display: flex;
  justify-content: center;
  gap: 30px;

  &-absolute {
    position: absolute;
    bottom: 80px;
    left: 0;
    right: 0;
  }

  &-flow {
    position: inherit;
    margin: 50px auto;
    padding-bottom: 25px;
  }

  .routing-button {
    width: 100px;
  }
}
