<ion-fab *ngIf="router.url !== '/dashboard/tabs/records/new'" vertical="bottom" horizontal="end" edge="true" slot="fixed">
  <ion-fab-button size="small" routerLink="/dashboard/tabs/records/new">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="loggings">
      <ion-label>Logs</ion-label>
      <ion-icon name="list-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="records">
      <ion-label>PRs</ion-label>
      <ion-icon name="barbell-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

